/*
https://coolors.co/33658a-86bbd8-2f4858-f6ae2d-f26419
33658a ---> Queen Blue
86bbd8 ---> Dark Sky Blue
2f4858 ---> Charcoal
f6ae2d ---> Honey Yellow
f26419 ---> Safety Orange Blaze Orange
*/

/* Global Styles
-------------------------------*/
body {
    color: #2f4858;
}
img {
    width: 300px;
}
a {
    color: #f6ae2d;
}
a:hover {
    text-decoration: none;
}

/* Profile
-------------------------------*/
header {
    background: #33658a;
    color: #fff;
}


/* Projects
-------------------------------*/
.projects {
    background: #f26419;
}
.projects a {
    color: #86bbd8;
}
.projects .btn {
    color: #fff;
    background: #2f4858;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(47, 72, 88, 80%);
}


/* Work Experience
-------------------------------*/
.work-experience {
    background: #86bbd8;
}

/* Education
-------------------------------*/


/* Contact Info
-------------------------------*/
footer {
    background: #f6ae2d;
    color: #fff;
}